%img.logo{:src=>"images/logo.svg"}

.row.index-row
  .col-xs-18.col-sm-6.col-md-6
    .brewery-section.index-section
      %img.brewery{:src=>"images/text-pivovar.svg"}
  .col-xs-18.col-sm-6.col-md-6
    .pub-section.index-section
      %img.pub{:src=>"images/text-pub.svg"}

.row.blackboard-row
  .col-xs-6.col-sm-4.col-md-4
  .col-xs-6.col-sm-4.col-md-4
    %img.blackboard{:src=>"images/blackboard.svg"}

  .col-xs-6.col-sm-4.col-md-4